html{ 
    font-size: 62.5%; 
      overflow-x: hidden; 
      scroll-behavior: smooth; 
      scroll-padding-top: 6rem; 
     } 
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eae0d3;
  }
.top-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 500px;
}
.headline{
  text-align: center;
  color: #30302f;
  font-size: 15px;
}
.para-1{
  font-size:30px;
  font-weight: 900;
}
.book-row{
  display: flex;
}
.book-column {
    
  margin: 20px;
  text-align: left;
  flex: 1;
  padding: 30px;
  /* height: 300px; Remove the fixed height */
  box-sizing: border-box; /* Add this line to use border-box for padding */
}
.book-column img{
  width:600px ;
}
.bic {
  display: inline-block;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ddd;
  width: 250px;
}
.bic label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
}
.bic input[type="text"],
.bic input[type="number"],
.bic input[type="time"],
.bic input[type="date"],
.bic input[type="email"],
.bic input[type="tel"],
.bic select,
.bic input[type="submit"] {
  width: 500px;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.bic input[type="submit"] {
  background-color: #564c42;
  color: white;
  border: 1px solid #eae0d3;
  cursor: pointer;
  width: 500px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}
.bic input[type="submit"]:hover {
  background-color: #66513d;
  border: 1px solid rgb(51, 43, 32);
}