html{ 
    font-size: 62.5%; 
      overflow-x: hidden; 
      scroll-behavior: smooth; 
      scroll-padding-top: 6rem; 
     } 
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eae0d3;
  }
.btmain1,.btmain2{
    
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    display: flex; /* Add this line */
  }

.card {
    display: flex;
    width: 100%;
    height: 300px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    color: #30302f;
  }

.card img {
    width: 60%;
    height: auto;
    border-right: 1px solid #ddd;
    

  }
.card:hover {
  transition: transform 0.2s ease-in-out;
    transform: scale(1.1);
}


.card-content {
    flex: 1;
    padding: 20px;
  }

.cuisine-heads {
    font-size: x-large;
    margin-top: 0;
  }
  .card p{
    font-size: 15px;
  }