html{ 
  font-size: 62.5%; 
    overflow-x: hidden; 
    scroll-behavior: smooth; 
    scroll-padding-top: 6rem; 
   } 
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
  
/*slider*/
.radio{
  display: none;
}
.container {
  position: relative;
  max-width: auto;
}
.slider {
  width: 100%;
  position: absolute;
  height: 0;
  padding-top: 56.25%;
  background: 0#141414;
  overflow:hidden;
  border: solid 1px #2e2e2e;
  box-shadow: 0 0 40px rgba(0,0,0,0.8);
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; Left:0;
  opacity:0;
}
.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: 1.3s ;
}
.caption {
  position: absolute;
  width: 100%;
  margin-top: 360px;
  text-align: center;
  top: -100%;
  color:#fff;
  font-weight: 900;
  font-size: 50px;
  padding: 20px;
  box-shadow: 1em 0 .5em 0 rgba(0,0,0,.3);
  text-transform: uppercase;
  letter-spacing: -5px;
  line-height: 50px;
  transition: 0.9s;
}
.dots{
  width: 100%;
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dots label{
width: 15px;
height: 15px;
background:#fff;
margin: 0 10px;
border-radius: 50%;
opacity: 0.3;
cursor: pointer;
transition: 0.2s ease-in-out;
}
.dots label:hover{
  opacity: 0.7;
}
#radio-1:checked~#slide-1,
#radio-2:checked~#slide-2,
#radio-3:checked~#slide-3,
#radio-4:checked~#slide-4 {
  opacity: 1;
}
#radio-1:checked ~ #slide-1 img,
#radio-2:checked ~ #slide-2 img,
#radio-3:checked ~ #slide-3 img,
#radio-4:checked ~ #slide-4 img {
  transform: scale(1);
}
#radio-1:checked~#slide-1 .caption,
#radio-2:checked~#slide-2 .caption,
#radio-3:checked~#slide-3 .caption,
#radio-4:checked~#slide-4 .caption{
  opacity: 1;
  top: 7%;
  font-size: 80px;
}
#radio-1:checked ~ .dots #label-1,
#radio-2:checked ~ .dots #label-2,
#radio-3:checked ~ .dots #label-3,
#radio-4:checked ~ .dots #label-4{
  background: #ffeb3b;
  opacity: 1;
}
.booknow{
  color: #000000;
  padding-top: 60%;
  padding-bottom: 3%;
  text-align: center;
  background-color: #eae0d3;
}
.booknow p{
  padding: 10px;
  font-size: 15px;
}

.booknow p:nth-child(1), .booknow p:nth-child(4) {
  font-size: 25px;
  font-weight: 900;
  color: #30302f;
}
.booknow .btn {
  
  background-color: #5f5348;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.booknow .btn:hover {
  background-color: black;
  color: white;
}